.vortex-header {
  height: 80px;
  display: flex;
  justify-content: space-between; /* Lado esquerdo | Centro | Lado direito */
  align-items: center;           /* Alinha tudo verticalmente ao centro */
  padding: 0 40px;
  background-color: #0F4C81;
  border-bottom: 1px solid #1e293b;
}

/* LADO ESQUERDO: Texto */
.user-info {
  display: flex;
  flex-direction: column;
  min-width: 200px; /* Garante que o texto não empurre a busca */
}

.user-info h3 { font-size: 1.1rem; }
.user-info p { font-size: 0.75rem; color: #94a3b8; }
.highlight { color: #7c3aed; }

/* CENTRO: Barra de Busca */
.search-bar {
  background: #1e293b;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  gap: 10px;
  width: 350px; /* Largura da barra */
  border: 1px solid transparent;
  transition: 0.3s;
}

.search-bar input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 100%;
}

/* LADO DIREITO: Badge e Notificação */
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 200px;
  justify-content: flex-end; /* Empurra para o final da direita */
}

.badge {
  background: rgba(124, 58, 237, 0.1);
  color: #f1b722;
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #fbbf24;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap; /* Impede o texto de quebrar */
}

.notification-btn {
  background: transparent;
  border: none;
  color: #f1b722;
  cursor: pointer;
  display: flex;
  align-items: center;
}